{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>Description</th>
                <th>Prix</th>
                <th>CreatedAt</th>
                <th>CreatedBy</th>
                <th>UpdatedAt</th>
                <th>UpdatedBy</th>
                <th>DeletedAt</th>
                <th>DeletedBy</th>
                <th>Sup</th>
                <th>Slug</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.designation }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.createdAt ? produit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.createdBy }}</td>
                <td>{{ produit.updatedAt ? produit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.updatedBy }}</td>
                <td>{{ produit.deletedAt ? produit.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.deletedBy }}</td>
                <td>{{ produit.sup }}</td>
                <td>{{ produit.slug }}</td>
                <td>{{ produit.image }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
